/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

*:focus {
  outline: 0;
  outline: none;
}
#items-container table { width: 100%; }
#items-container table th.title {
  font-size: 14px;
  height: 20px;
}
#items-container table tfoot tr th { text-aling: center; }
#items-container table tbody tr td { font-size: 10px !important; }
#items-container table tbody tr td a {
  color: #002266;
  border: 0;
}
#items-container table tbody tr td a.comment {
  display: block;
  background: transparent url('/images/user_comment.png') no-repeat;
  width: 16px;
  height: 16px;
  text-decoration: none;
  border: 0;
}
#items-container table tbody tr td.comment { background-color: #aaffaa; }
#items-container table tbody tr td:first-child { width: 88%; }
#items-container table tbody tr td:last-child {
  width: 12%;
  font-size: 10px;
}
