html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-origin: padding-box;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-origin: padding-box;
  -moz-background-origin: padding;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before {
  content: '';
  content: none;
}
blockquote:after {
  content: '';
  content: none;
}
q:before {
  content: '';
  content: none;
}
q:after {
  content: '';
  content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
section, nav { display: block; }
*:focus {
  outline: 0;
  outline: none;
}
*:focus {
  outline: 0;
  outline: none;
}
input[type=button] {
  -khtml-appearance: none;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  position: relative;
  color: #454545;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  color: #454545;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(ie-css3.htc);
  position: relative;
  padding: 0 32px;
  border: 0;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -moz-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -webkit-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  position: relative;
  background-color: #f4f4f4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e0e0e0));
  background: -moz-linear-gradient(left top, #f4f4f4, #e0e0e0);
  position: relative;
}
input[type=button]:active { top: 1px; }
input[type=button]:hover {
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
  background: -moz-linear-gradient(left top, #ffffff, #eaeaea);
  position: relative;
}
button {
  -khtml-appearance: none;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  position: relative;
  color: #454545;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  color: #454545;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(ie-css3.htc);
  position: relative;
  padding: 0 32px;
  border: 0;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -moz-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -webkit-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  position: relative;
  background-color: #f4f4f4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e0e0e0));
  background: -moz-linear-gradient(left top, #f4f4f4, #e0e0e0);
  position: relative;
}
button:active { top: 1px; }
button:hover {
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
  background: -moz-linear-gradient(left top, #ffffff, #eaeaea);
  position: relative;
}
input[type=submit] {
  -khtml-appearance: none;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  position: relative;
  color: #454545;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  color: #454545;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(ie-css3.htc);
  position: relative;
  padding: 0 32px;
  border: 0;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -moz-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -webkit-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  position: relative;
  background-color: #f4f4f4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e0e0e0));
  background: -moz-linear-gradient(left top, #f4f4f4, #e0e0e0);
  position: relative;
}
input[type=submit]:active { top: 1px; }
input[type=submit]:hover {
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
  background: -moz-linear-gradient(left top, #ffffff, #eaeaea);
  position: relative;
}
.input {
  -khtml-appearance: none;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  position: relative;
  color: #454545;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  color: #454545;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(ie-css3.htc);
  position: relative;
  padding: 0 32px;
  border: 0;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -moz-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -webkit-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  position: relative;
  background-color: #f4f4f4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e0e0e0));
  background: -moz-linear-gradient(left top, #f4f4f4, #e0e0e0);
  position: relative;
}
.input:active { top: 1px; }
.input:hover {
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
  background: -moz-linear-gradient(left top, #ffffff, #eaeaea);
  position: relative;
}
input[type="checkbox"] {
  -khtml-appearance: none;
  width: 15px;
  height: 16px;
  margin: 0;
  background: transparent url('/images/form.png') no-repeat 0px 0px;
}
input[type="checkbox"]:hover { cursor: pointer; }
input[type="checkbox"]:checked { background-position: -20px 0px; }
input[type="radio"] {
  -khtml-appearance: none;
  width: 15px;
  height: 16px;
  margin: 0;
  background: transparent url('/images/form.png') no-repeat 0px 0px;
}
input[type="radio"]:hover { cursor: pointer; }
input[type="radio"]:checked { background-position: -20px 0px; }
input[type="radio"] { background-position: 0 -20px; }
input[type="radio"]:checked { background-position: -20px -20px; }
select.widget {
  -khtml-appearance: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  color: #454545;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(ie-css3.htc);
  position: relative;
  padding: 3px 3px 3px 12px;
  border: 0;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -moz-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -webkit-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  position: relative;
  width: 250px;
  height: 25px;
  line-height: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  background-color: #f4f4f4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e0e0e0));
  background: -moz-linear-gradient(left top, #f4f4f4, #e0e0e0);
  position: relative;
  background: url(/images/form_select.png) no-repeat left 0px, url(/images/form_select.png) no-repeat right -60px, url(/images/form_select.png) repeat-x left -30px;
}
select.widget:hover {
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
  background: -moz-linear-gradient(left top, #ffffff, #eaeaea);
  position: relative;
  background: url(/images/form_select.png) no-repeat left 0px, url(/images/form_select.png) no-repeat right -60px, url(/images/form_select.png) repeat-x left -30px;
}
.select_widget {
  -khtml-appearance: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  color: #454545;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(ie-css3.htc);
  position: relative;
  padding: 3px 3px 3px 12px;
  border: 0;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -moz-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  -webkit-box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
  position: relative;
  width: 250px;
  height: 25px;
  line-height: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  background-color: #f4f4f4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e0e0e0));
  background: -moz-linear-gradient(left top, #f4f4f4, #e0e0e0);
  position: relative;
  background: url(/images/form_select.png) no-repeat left 0px, url(/images/form_select.png) no-repeat right -60px, url(/images/form_select.png) repeat-x left -30px;
}
.select_widget:hover {
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
  background: -moz-linear-gradient(left top, #ffffff, #eaeaea);
  position: relative;
  background: url(/images/form_select.png) no-repeat left 0px, url(/images/form_select.png) no-repeat right -60px, url(/images/form_select.png) repeat-x left -30px;
}
.widget_select-options_container {
  background-color: #f4f4f4;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  behavior: url(ie-css3.htc);
  position: relative;
  box-shadow: 0px 1px 5px rgba(10, 10, 10, 0.5);
  -moz-box-shadow: 0px 1px 5px rgba(10, 10, 10, 0.5);
  -webkit-box-shadow: 0px 1px 5px rgba(10, 10, 10, 0.5);
  position: relative;
  border-top: 1px solid #ffffff;
  margin-right: 10px;
  margin-top: -5px;
  padding: 4px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  min-width: 120px;
  font-size: 14px;
  font-weight: bold;
}
.widget_select-options_container > li {
  margin: 0;
  padding: 0 60px 0 12px;
  height: 22px;
  line-height: 22px;
}
.widget_select-options_container > li.selected {
  margin: 0;
  padding: 0 60px 0 12px;
  height: 22px;
  line-height: 22px;
}
.widget_select-options_container > li.hover {
  margin: 0;
  padding: 0 60px 0 12px;
  height: 22px;
  line-height: 22px;
}
.widget_select-options_container > li.hover {
  background-color: #8cb14b;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: pointer;
}
.widget_select-options_container > li.selected {
  background-color: #4b8cb1;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}
input[type=text], input[type=email], input[type=password] {
  font-size: 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  width: 300px;
  height: 32px;
  line-height: 26px;
  margin: 2px 0;
  padding: 3px 5px;
  border: 1px solid #adadad;
  box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  position: relative;
  text-shadow: 0px 1px 0px #ffffff;
  position: relative;
}
input[type=email] { min-width: 200px; }
input.error {
  background-color: #fee3e3;
  border: 1px solid #c3a0a0;
}
label {
  display: inline-block;
  font: normal normal normal 14px/1.6em Helvetica;
  text-shadow: 0px 1px 0px #ffffff;
  position: relative;
}
label:hover { cursor: pointer; }
label.check {
  color: #454545;
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  position: relative;
  padding-left: 23px;
}
label.check > input {
  position: absolute;
  left: 0;
  top: 0;
  margin: 3px 3px 0;
}
form fieldset {
  margin: 0;
  border: 0;
}
form fieldset > section p.error {
  margin: 1px 0 !important;
  font: normal normal italic 14px/1.4em Helvetica;
  color: #a71000;
  text-shadow: 0px 1px 0px #ffffff;
  position: relative;
}
form fieldset > section p.info {
  margin: 1px 0 !important;
  font-size: 12px;
  color: #999999;
}
form fieldset > section > div { margin-bottom: 8px; }
*:focus {
  outline: 0;
  outline: none;
}
body {
  background-color: #868686;
  font: normal 62.5% sans-serif;
  overflow-x: hidden;
  background: url('/images/pattern.png');
  min-height: 100%;
  width: 100%;
}
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
div#wrapper {
  background: #868686 url('/images/pattern.png') repeat;
  padding: 0;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2em;
}
div#wrapper div#header {
  background-color: black;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  behavior: url(ie-css3.htc);
  position: relative;
  color: white;
  padding: 0px;
  height: 130px;
}
div#wrapper div#header img { margin: 0 15px; }
div#wrapper div#header nav#menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  background-color: #3f3f3f;
  height: 30px;
  width: 100%;
  clear: both;
  position: relative;
}
div#wrapper div#header nav#menu div.user {
  height: 30px;
  line-height: 30px;
  width: 300px;
  position: absolute;
  right: 20px;
  top: 0;
  text-align: right;
}
div#wrapper div#header nav#menu ul li {
  float: left;
  margin: 0px;
}
div#wrapper div#header nav#menu ul li a {
  display: inline-block;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
  color: #ffffff;
  padding: 0 15px;
  margin: 0;
  text-decoration: none;
  border-right: 1px solid #000000;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  position: relative;
}
div#wrapper div#header nav#menu ul li a:hover {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  position: relative;
  background-color: #4f4f4f;
}
div#wrapper div#header h2 {
  background-color: silver;
  color: #565656;
  padding: 5px 2%;
  float: left;
  width: 46%;
  line-height: 20px;
}
div#wrapper div#header h3 {
  background-color: silver;
  color: #565656;
  padding: 5px 2%;
  float: left;
  width: 46%;
  line-height: 20px;
}
div#wrapper div#header h4 {
  background-color: silver;
  color: #565656;
  padding: 5px 2%;
  float: left;
  width: 46%;
  line-height: 20px;
}
div#wrapper div#header h4 { text-align: right; }
div#wrapper #footer {
  bottom: 0;
  position: absolute;
  margin-top: 15px;
  padding: 5px;
  font: 10px Helvetica;
  background: rgba(42, 42, 43, 0.7);
  color: #a4a4a4;
  width: 100% !important;
}
div#wrapper #footer p {
  text-align: right;
  margin: 0 30px;
}
div#wrapper #footer p a.xifox {
  color: #00aa00;
  text-decoration: none;
}
div#wrapper #footer p a.xifox:hover { color: #ffffff; }
div#container {
  background-color: #ffffff;
  height: auto;
  margin: 10px auto 40px;
  width: 1000px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}
div#container *:focus {
  outline: 0;
  outline: none;
}
div#container table.orange {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  color: #333333;
  margin: 0 auto;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
div#container table.orange .mensaje { width: 90%; }
div#container table.orange caption {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
  background: #efefef;
  color: #666666;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
div#container table.orange a {
  text-decoration: none;
  color: #ff6600;
}
div#container table.orange a:hover { text-decoration: underline; }
div#container table.orange > thead > tr > th {
  text-transform: uppercase;
  background: #e2e2e2;
  font: normal bold normal 10px/18px Helvetica;
  padding: 2px 20px;
}
div#container table.orange > thead > tr > th.title {
  text-align: center;
  font: normal bold normal 16px/25px Helvetica;
  color: #332222;
}
div#container table.orange > tfoot { border-top: 1px solid #cccccc; }
div#container table.orange > tfoot > tr > th {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 4px;
}
div#container table.orange > tfoot > tr > td {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 4px;
}
div#container table.orange > tfoot a { margin: 0 10px; }
div#container table.orange > tbody {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
div#container table.orange > tbody tr.blanco {
  background: #cccccc;
  border: none;
}
div#container table.orange > tbody > tr > th {
  background-color: #eeeeee;
  color: #336699;
  font-weight: normal;
  padding: 5px 10px;
}
div#container table.orange > tbody > tr > th a {
  color: #336699;
  border-bottom: 1px dotted #336699;
}
div#container table.orange > tbody > tr > th a:hover {
  color: #ffffff;
  background: #336699;
}
div#container table.orange > tbody > tr > td {
  border: 1px solid #cccccc;
  padding: 5px;
  line-height: 1.8em;
  font-size: 1.2em;
  vertical-align: top;
}
div#container table.orange > tbody > tr > td input[type=text] {
  width: 200px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
div#container table.orange > tbody > tr > td input[type=email] {
  width: 200px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
div#container table.orange > tbody > tr > td input[type=password] {
  width: 200px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
div#container table.orange > tbody > tr > th {
  border: 1px solid #cccccc;
  padding: 5px;
  line-height: 1.8em;
  font-size: 1.2em;
  vertical-align: top;
}
div#container table.orange > tbody > tr > th input[type=text] {
  width: 200px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
div#container table.orange > tbody > tr > th input[type=email] {
  width: 200px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
div#container table.orange > tbody > tr > th input[type=password] {
  width: 200px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
div#container > section { padding: 50px 0; }
div#container table.orange tbody > tr > td {
  border: none;
  padding: 10px;
}
div#container table.orange tbody > tr > th {
  border: none;
  padding: 10px;
}
div#container table.orange tfoot > tr > td { padding: 10px; }
div#container table.orange tfoot > tr > th { padding: 10px; }
div#container .error_list {
  color: red;
  font-size: 0.9em;
}
