/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

*:focus {
  outline: 0;
  outline: none;
}
table.orange {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  color: #333333;
  margin: 0 auto;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  position: relative;
}
table.orange .mensaje { width: 90%; }
table.orange caption {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
  background: #efefef;
  color: #666666;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
table.orange a {
  text-decoration: none;
  color: #ff6600;
}
table.orange a:hover { text-decoration: underline; }
table.orange > thead { border: 1px solid #cccccc; }
table.orange > thead > tr > th {
  text-transform: uppercase;
  background: #e2e2e2;
  font: normal bold normal 10px/18px Helvetica;
  padding: 2px 10px;
}
table.orange > thead > tr > th.title {
  text-align: center;
  font: normal bold normal 16px/25px Helvetica;
  color: #332222;
}
table.orange > tfoot { border-top: 1px solid #cccccc; }
table.orange > tfoot > tr > th {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 4px;
}
table.orange > tfoot > tr > td {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 4px;
}
table.orange > tfoot a { margin: 0 10px; }
table.orange > tbody tr.blanco {
  background: #cccccc;
  border: none;
}
table.orange > tbody > tr > th {
  background-color: #eeeeee;
  color: #336699;
  padding: 5px 10px;
}
table.orange > tbody > tr > th a {
  color: #336699;
  border-bottom: 1px dotted #336699;
}
table.orange > tbody > tr > th a:hover {
  color: #ffffff;
  background: #336699;
}
table.orange > tbody > tr > td {
  border: 1px solid #cccccc;
  padding: 5px;
  line-height: 1.8em;
  vertical-align: top;
}
table.orange > tbody > tr > td input[type=text] { width: 200px; }
table.orange > tbody > tr > td input[type=email] { width: 200px; }
table.orange > tbody > tr > td input[type=password] { width: 200px; }
table.orange > tbody > tr > td select { width: 200px; }
table.orange > tbody > tr > th {
  border: 1px solid #cccccc;
  padding: 5px;
  line-height: 1.8em;
  vertical-align: top;
}
table.orange > tbody > tr > th input[type=text] { width: 200px; }
table.orange > tbody > tr > th input[type=email] { width: 200px; }
table.orange > tbody > tr > th input[type=password] { width: 200px; }
table.orange > tbody > tr > th select { width: 200px; }
form table.orange {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
  border: none;
}
form table.orange > tbody {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(ie-css3.htc);
  position: relative;
}
form table.orange > tbody > tr > td { border: none; }
form table.orange > tbody > tr > th { border: none; }
