/* LIST */

/* Object Actions */
.sf_admin_list table tbody tr td.object_actions_container {

}

.sf_admin_list div.object_actions_container {
  /*display: none;*/
  position: relative;
}

.sf_admin_list div.object_actions_container > ul.object_actions {
  position: absolute;
  display: block;
  left: 5px; top: 0px;

  background: #eea;
  border: 1px solid #aaa;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index: 100;
}



.sf_admin_list div.object_actions_container > ul.object_actions li {
  padding: 2px 10px;
}