@import "../_commons/clear";
@import "../_commons/common";
@import "../_commons/interface.elements";


body{
  background-color: #868686 ;
  font: normal 62.5% sans-serif;
  overflow-x: hidden;
  background: url('/images/pattern.png');
  min-height: 100%;
  width: 100%;
}

section, nav {
  display: block;
}

h1{font-size:1.8em}

h2{font-size:1.6em}

h3{font-size:1.4em}


/*****Layout******/

div#wrapper{
  background: #868686 url('/images/pattern.png') repeat;
  padding: 0;
  margin: 0 auto;

  min-height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2em;


  div#header {
    background-color:black;
    .border-radius(8px 8px 0 0);
    color:white;
    padding: 0px;
    height: 130px;

    img{
      margin: 0 15px;
    }
    
    nav#menu {
      .box-sizing;
      background-color: #013;
      height: 25px;
      width:100%;
      clear:both;
      position: relative;
      
      div.user {
        height: 25px;
        line-height: 25px;
        width: 300px;
        position: absolute;
        right: 20px;
        top: 0;

        text-align: right;
      }

      ul {
        li {
          float:left;
          margin: 0px;

          a {
            line-height: 25px;
            font-size: 12px;
            color: #FFF;
            padding: 1px 15px;
            margin: 0 3px;
            text-decoration: none;
            background-color: #026;
            .border-radius(4px);
            :hover {
              .text-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.6));
              background-color: #08A;
            }
          }
        }
      }
    }
  }

  

  #footer {
    bottom: 0;
    position: absolute;
    margin-top: 15px;
    padding: 5px;

    font: 10px Helvetica;
    background: rgba(42,42,43,0.7);
    color: #a4a4a4;
    width: 100% !important;

    p {
      text-align: right;
      margin: 0 30px;

      a.xifox {
        color:#0A0;
        text-decoration:none;
        :hover{
          color:#FFF;
        }
      }
    }
  }
}


div#header h2, div#header h3{
  background-color:silver;
  color: #565656;
  padding: 5px 15px;
  float:left;
  width: 455px;
  line-height: 20px;
}
div#header h3{
  text-align:right;
}


div#container {
  @import "table_orange";

  background-color:#FFF;
  height: auto;
  margin: 10px auto 40px;
  width: 1000px;
  .border-radius;
  .box-shadow(0, 2px, 5px, rgba(0,0,0, 0.3));


  > section {
    .box-sizing;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    margin: 0;

    h1 {
      display: inline-block;
    }
  }

  div.tip {
    h2 {
      font-size: 16px;
    }

    font: normal 14px/20px Helvetica;
    border: 2px solid #aa8;
    background-color: #ffe;
    color: #A26;
    margin-top: 5px;
    padding: 5px;
    .border-radius;
  }

  .info {
    font: normal 12px/20px Helvetica;
    border: 1px solid #Abb;
    background-color: #ffa;
    margin: 10px 0;
    .border-radius;

    p {
      color: #304 !important;
      padding: 1px 5px !important;
      margin: 0;
    }
  }
 
  section#sidebar{
    background-color:#EEE;
    width: 25%;
    min-height: 600px;
    .border-radius(0 0 0 8px);
    border-right: 1px solid #bbb;
    .box-shadow(-1px, 0, 0, #fff);

    section.menu_sidebar {
      table {
        tbody {
          tr {
            background-color: #fff;
            td {

            }

            td:first-child {
              background-color: #eee;
              
            }

            td:last-child {
              font-weight: bold;
            }
          }
        }
      }

      nav {
        margin: 10px 0 ;
        border: 1px solid #08d;
        background-color: #cef;
        .border-radius(6px);
        
        ul {
          padding: 0;
          li {
            h2 {
              margin: 0;
              text-align: center;
              padding: 2px 0;
              .border-radius(4px 4px 0 0);
              font: normal normal normal 12px sans-serif;
              color: #fff;
              background-color: #08d;
            }
            a {
              font-size: 12px;
              line-height: 20px;
              display: block;

              color: #08A;
              padding: 1px 5px;
              margin: 2px 0 0;
              text-decoration: none;
              .border-radius(4px);
              
              :hover {
                background-color: #08A;
                color: #FFF;
              }
            }
          }
        }
      }
    }

    h1, h2, h3, h4 {
      color: #025;
    }
  }

  section#content{
    width: 73%;
    min-height: 600px;

    .head {
      h1 {
        color: #604;
      }
      p {
        color: #48A;
        padding: 5px 0;
        margin-bottom: 5px;
        font-size: 12px;
      }
    }
  }
}

ul.options{
  display: block;
  height:15px;
  margin: 10px
}
ul.options li{
  float: left;
  padding: 0 10px;
  border-right:1px dotted #FF6600;
}
ul.options li.last{
  border-right: none;
}
ul.options li a, ul.options li input {
  /*
  border-bottom:1px dotted #FF6600;
  color:#FF6600;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
  */

}
ul.options li a:hover {
  text-decoration: none;
  color: #fff;
  background: #f60;
}

.error {
  color: #F00;
  font-weight: bold;
  background-color: #FDD;
  /*padding: 0 5px;*/
}

.ok {
  color: #090;
  font-weight: bold;
  background-color: #DFD;
  /*padding: 0 5px;*/
}

.nc {
  color: #400;
  background-color: #FF8;
  /* padding: 0 5px;*/
}

/* Distintos estados de un visado en una revision */
.state_1, .state_2, .state_3, .state_4, .state_5, .state_6, .state_7, .state_8 {
  color: #0A0;
  background-color: #efe;
  .text-shadow(0px, 1px, 0, #fff);
}

/* a recisar */
.state_5 {
  color: #AA0;
  background-color: #ffe;
}

/* corregido */
.state_7 {
  color: #026;
  background-color: #aef;
}


/* en proceso */
.state_8 {
  color: #A60;
  background-color: #fda;
}



ul.error_list {
  li {
    font-size: 0.8em;
    padding: 1px 5px;
    .border-radius(4px);
    background-color: rgba(255, 0, 0, 0.1);
    color: #F00;
    .text-shadow(0, 1px, 1px, #888);
  }
}
