/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.ellipsis:hover {
  overflow: visible;
  text-overflow: visible;
  -o-text-overflow: visible;
  -icab-text-overflow: visible;
  -khtml-text-overflow: visible;
  -moz-text-overflow: visible;
  -webkit-text-overflow: visible;
}
.simple-box {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box > h2 {
  background: #e1e1e1;
  padding: 10px 20px;
  color: #3a3a3a;
  margin-top: 0;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  font: 18px DINPro;
  font-weight: 100;
}
.simple-box-small {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box-small > h2 {
  background: #e1e1e1;
  padding: 5px 10px;
  color: #3a3a3a;
  margin: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  font: 14px DINPro;
  font-weight: 100;
}
.box-black-bar {
  border: 1px solid #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
}
.box-black-bar h2 {
  color: #ffffff;
  background: url('/images/bg/bar-black-big.png') repeat-x;
  height: 47px;
  line-height: 61px;
  vertical-align: middle;
  padding: 7px 25px;
  margin: 0;
  font: 100 35px DINPro;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
.box-black-bar + .load-mask {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}
span.badge {
  background: #3a3a3a url('/images/bg/badge-highlight.png') no-repeat top center;
  font: 14px "Helvetica";
  color: #ffffff;
  height: 26px;
  text-align: center;
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-width: 26px;
}
.ipod-list li {
  display: inline-block;
  cursor: pointer;
  background: #ffffff;
  width: 8px;
  margin-right: 5px;
  height: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 2px solid #3a3a3a;
}
.ipod-list li.current { background-color: #333333; }
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.ellipsis:hover {
  overflow: visible;
  text-overflow: visible;
  -o-text-overflow: visible;
  -icab-text-overflow: visible;
  -khtml-text-overflow: visible;
  -moz-text-overflow: visible;
  -webkit-text-overflow: visible;
}
.simple-box {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box > h2 {
  background: #e1e1e1;
  padding: 10px 20px;
  color: #3a3a3a;
  margin-top: 0;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  font: 18px DINPro;
  font-weight: 100;
}
.simple-box-small {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box-small > h2 {
  background: #e1e1e1;
  padding: 5px 10px;
  color: #3a3a3a;
  margin: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  font: 14px DINPro;
  font-weight: 100;
}
.box-black-bar {
  border: 1px solid #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
}
.box-black-bar h2 {
  color: #ffffff;
  background: url('/images/bg/bar-black-big.png') repeat-x;
  height: 47px;
  line-height: 61px;
  vertical-align: middle;
  padding: 7px 25px;
  margin: 0;
  font: 100 35px DINPro;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
.box-black-bar + .load-mask {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}
span.badge {
  background: #3a3a3a url('/images/bg/badge-highlight.png') no-repeat top center;
  font: 14px "Helvetica";
  color: #ffffff;
  height: 26px;
  text-align: center;
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-width: 26px;
}
.ipod-list li {
  display: inline-block;
  cursor: pointer;
  background: #ffffff;
  width: 8px;
  margin-right: 5px;
  height: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 2px solid #3a3a3a;
}
.ipod-list li.current { background-color: #333333; }
.button-base-active, .button-tack-active {
  border-style: inset;
  left: 1px;
  top: 1px;
}
.button-golux_v1 {
  font-size: 13px;
  font-style: italic;
  text-align: center;
  width: 130px;
  height: 30px;
  line-height: 28px;
  color: #6c6c6c;
  text-shadow: -1px -1px 1px #ffffff;
  display: inline-block;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid rgba(180, 180, 180, 0.2);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#ffffff), color-stop(0, #f3f3f3), color-stop(0.9, #f8f8f8));
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.7);
  -moz-box-shadow: 0 1px 1px rgba(100, 100, 100, 0.7);
  -webkit-box-shadow: 0 1px 1px rgba(100, 100, 100, 0.7);
  vertical-align: middle;
  text-decoration: none;
}
#sf_admin_content .sf_admin_form { width: 100%; }
#sf_admin_content .sf_admin_form input[type=text] {
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 1px 4px;
  color: #004400;
}
#sf_admin_content .sf_admin_form input[type=password] {
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 1px 4px;
  color: #004400;
}
#sf_admin_content .sf_admin_form textarea {
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 1px 4px;
  color: #004400;
}
#sf_admin_content .sf_admin_form select {
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 1px 4px;
  color: #004400;
}
#sf_admin_content .sf_admin_form textarea { min-height: 60px; }
#sf_admin_content .sf_admin_form h2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 0 5px 0;
  padding: 0;
  color: rgba(50, 60, 90, 0.8);
}
#sf_admin_content .sf_admin_form fieldset {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #cccccc;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-bottom: 5px;
  position: relative;
}
#sf_admin_content .sf_admin_form fieldset > div {
  margin: 5px 1px;
  border: 1px solid rgba(200, 200, 200, 0.2);
  background-color: #f8f8f8;
  padding: 2px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#sf_admin_content .sf_admin_form fieldset > div label { color: #444444; }
#sf_admin_content ul.sf_admin_actions { list-style: none; }
#sf_admin_content ul.sf_admin_actions li { display: inline-block; }
#sf_admin_content ul.sf_admin_td_actions { list-style: none; }
#sf_admin_content ul.sf_admin_td_actions li { display: inline-block; }
#sf_admin_content ul.sf_admin_td_actions {
  margin: 0;
  padding: 0;
}
#sf_admin_content ul.sf_admin_td_actions li a {
  font-size: 9px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 5px;
  background-color: #44aacc;
  color: #ffffff;
}
#sf_admin_content ul.sf_admin_td_actions li a:hover {
  background-color: #44ddff;
  color: #223344;
}
#sf_admin_content .sf_admin_batch_actions_choice {
  -webkit-border-radius: 6px;
  padding: 1px 3px;
  background-color: #f2f2f2;
}
#sf_admin_content ul.sf_admin_actions li input {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66bb44), to(#449944));
  display: inline-block;
  padding: 1px 8px 2px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 0;
  position: relative;
  border: 1px outset rgba(200, 200, 200, 0.5);
}
#sf_admin_content ul.sf_admin_actions li input:hover {
  cursor: pointer;
  color: #ffffff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#77cc55), to(#55aa55));
}
#sf_admin_content ul.sf_admin_actions li input:active {
  border-style: inset;
  left: 1px;
  top: 1px;
}
#sf_admin_content ul.sf_admin_actions li a {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2daebf), to(#1d9eaf));
  display: inline-block;
  padding: 1px 8px 2px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 0;
  position: relative;
  border: 1px outset rgba(200, 200, 200, 0.5);
}
#sf_admin_content ul.sf_admin_actions li a:hover {
  cursor: pointer;
  color: #ffffff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3dbecf), to(#2daebf));
}
#sf_admin_content ul.sf_admin_actions li a:active {
  border-style: inset;
  left: 1px;
  top: 1px;
}
#sf_admin_content ul.sf_admin_actions li.sf_admin_action_delete a { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff2222), to(#cc0000)); }
#sf_admin_content ul.sf_admin_actions li.sf_admin_action_delete a:hover { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff4444), to(#ee3333)); }
