/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.ellipsis:hover {
  overflow: visible;
  text-overflow: visible;
  -o-text-overflow: visible;
  -icab-text-overflow: visible;
  -khtml-text-overflow: visible;
  -moz-text-overflow: visible;
  -webkit-text-overflow: visible;
}
.simple-box {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box > h2 {
  background: #e1e1e1;
  padding: 10px 20px;
  color: #3a3a3a;
  margin-top: 0;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  font: 18px DINPro;
  font-weight: 100;
}
.simple-box-small {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box-small > h2 {
  background: #e1e1e1;
  padding: 5px 10px;
  color: #3a3a3a;
  margin: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  font: 14px DINPro;
  font-weight: 100;
}
.box-black-bar {
  border: 1px solid #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
}
.box-black-bar h2 {
  color: #ffffff;
  background: url('/images/bg/bar-black-big.png') repeat-x;
  height: 47px;
  line-height: 61px;
  vertical-align: middle;
  padding: 7px 25px;
  margin: 0;
  font: 100 35px DINPro;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
.box-black-bar + .load-mask {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}
span.badge {
  background: #3a3a3a url('/images/bg/badge-highlight.png') no-repeat top center;
  font: 14px "Helvetica";
  color: #ffffff;
  height: 26px;
  text-align: center;
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-width: 26px;
}
.ipod-list li {
  display: inline-block;
  cursor: pointer;
  background: #ffffff;
  width: 8px;
  margin-right: 5px;
  height: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 2px solid #3a3a3a;
}
.ipod-list li.current { background-color: #333333; }
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.ellipsis:hover {
  overflow: visible;
  text-overflow: visible;
  -o-text-overflow: visible;
  -icab-text-overflow: visible;
  -khtml-text-overflow: visible;
  -moz-text-overflow: visible;
  -webkit-text-overflow: visible;
}
.simple-box {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box > h2 {
  background: #e1e1e1;
  padding: 10px 20px;
  color: #3a3a3a;
  margin-top: 0;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  font: 18px DINPro;
  font-weight: 100;
}
.simple-box-small {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box-small > h2 {
  background: #e1e1e1;
  padding: 5px 10px;
  color: #3a3a3a;
  margin: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  font: 14px DINPro;
  font-weight: 100;
}
.box-black-bar {
  border: 1px solid #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
}
.box-black-bar h2 {
  color: #ffffff;
  background: url('/images/bg/bar-black-big.png') repeat-x;
  height: 47px;
  line-height: 61px;
  vertical-align: middle;
  padding: 7px 25px;
  margin: 0;
  font: 100 35px DINPro;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
.box-black-bar + .load-mask {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}
span.badge {
  background: #3a3a3a url('/images/bg/badge-highlight.png') no-repeat top center;
  font: 14px "Helvetica";
  color: #ffffff;
  height: 26px;
  text-align: center;
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-width: 26px;
}
.ipod-list li {
  display: inline-block;
  cursor: pointer;
  background: #ffffff;
  width: 8px;
  margin-right: 5px;
  height: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 2px solid #3a3a3a;
}
.ipod-list li.current { background-color: #333333; }
.button-base-active, .button-tack-active {
  border-style: inset;
  left: 1px;
  top: 1px;
}
.button-golux_v1 {
  font-size: 13px;
  font-style: italic;
  text-align: center;
  width: 130px;
  height: 30px;
  line-height: 28px;
  color: #6c6c6c;
  text-shadow: -1px -1px 1px #ffffff;
  display: inline-block;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid rgba(180, 180, 180, 0.2);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#ffffff), color-stop(0, #f3f3f3), color-stop(0.9, #f8f8f8));
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.7);
  -moz-box-shadow: 0 1px 1px rgba(100, 100, 100, 0.7);
  -webkit-box-shadow: 0 1px 1px rgba(100, 100, 100, 0.7);
  vertical-align: middle;
  text-decoration: none;
}
#sf_admin_container #sf_admin_bar {
  padding: 2px;
  position: relative;
}
#sf_admin_container #sf_admin_bar nav.menu a {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66bb44), to(#449944));
  display: inline-block;
  padding: 1px 8px 2px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 0;
  position: relative;
  border: 1px outset rgba(200, 200, 200, 0.5);
}
#sf_admin_container #sf_admin_bar nav.menu a:hover {
  cursor: pointer;
  color: #ffffff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#77cc55), to(#55aa55));
}
#sf_admin_container #sf_admin_bar nav.menu a:active {
  border-style: inset;
  left: 1px;
  top: 1px;
}
#sf_admin_container #sf_admin_bar div.sf_admin_filter {
  display: none;
  z-index: 200;
  border: 1px solid #cccccc;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(100, 100, 100, 0.2);
  -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, 0.2);
  -webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, 0.2);
  background-color: rgba(240, 250, 255, 0.6);
  padding: 5px;
  font-size: 11px;
  position: absolute;
  left: 20px;
  top: 20px;
}
#sf_admin_container #sf_admin_bar div.sf_admin_filter input[type="submit"] {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66bb44), to(#449944));
  display: inline-block;
  padding: 1px 8px 2px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 0;
  position: relative;
  border: 1px outset rgba(200, 200, 200, 0.5);
}
#sf_admin_container #sf_admin_bar div.sf_admin_filter input[type="submit"]:hover {
  cursor: pointer;
  color: #ffffff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#77cc55), to(#55aa55));
}
#sf_admin_container #sf_admin_bar div.sf_admin_filter input[type="submit"]:active {
  border-style: inset;
  left: 1px;
  top: 1px;
}
#sf_admin_container #sf_admin_bar div.sf_admin_filter a {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66aa66), to(#669966));
  display: inline-block;
  padding: 1px 8px 2px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 0;
  position: relative;
  border: 1px outset rgba(200, 200, 200, 0.5);
}
#sf_admin_container #sf_admin_bar div.sf_admin_filter a:hover {
  cursor: pointer;
  color: #ffffff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66cc66), to(#66aa66));
}
#sf_admin_container #sf_admin_bar div.sf_admin_filter a:active {
  border-style: inset;
  left: 1px;
  top: 1px;
}
#sf_admin_container .error {
  border: 1px solid #cc9999;
  background-color: #ffdddd;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 5px 10px;
  color: #bb0000;
  margin: 10px;
}
#sf_admin_container .notice {
  border: 1px solid #cc9999;
  background-color: #ffdddd;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 5px 10px;
  color: #bb0000;
  margin: 10px;
}
#sf_admin_container .notice {
  border-color: #99cc99;
  background-color: #ddffdd;
  color: #004400;
}
#sf_admin_container ul.error_list {
  color: #aa0000;
  list-style: none;
  margin: 0;
  padding: 0;
}
#sf_admin_container ul.error_list li {
  font-size: 0.8em;
  border: 1px solid #dd2222;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff5555), to(#ff4444));
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #ffffff;
  padding: 1px 5px;
  text-shadow: none;
  display: inline-block;
}
