/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

*:focus {
  outline: 0;
  outline: none;
}
*:focus {
  outline: 0;
  outline: none;
}
nav.menu > ul {
  background-color: #e2e2e2;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#cacfcf));
  background: -moz-linear-gradient(left top, #e2e2e2, #cacfcf);
  line-height: 100%;
  margin: 0;
  padding: 7px 6px 0;
  border: 1px solid #cccccc;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
nav.menu > ul li {
  float: left;
  list-style: none;
  margin: 0 5px;
  padding: 0 0 8px;
  position: relative;
}
nav.menu > ul a {
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 8px 20px;
  text-decoration: none;
  background-color: #b0b0b0;
  background: -webkit-gradient(linear, left top, left bottom, from(#b0b0b0), to(#c0c0c0));
  background: -moz-linear-gradient(left top, #b0b0b0, #c0c0c0);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
nav.menu > ul .current a {
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  background: -moz-linear-gradient(left top, #ffffff, #cccccc);
  color: #4466aa;
  border-top: solid 1px #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
}
nav.menu > ul li:hover > a {
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  background: -moz-linear-gradient(left top, #ffffff, #cccccc);
  color: #4466aa;
  border-top: solid 1px #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
}
nav.menu > ul ul li:hover a {
  background: none;
  border: none;
  color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
nav.menu > ul li:hover li a {
  background: none;
  border: none;
  color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
nav.menu > ul ul a:hover {
  background-color: #0088bb !important;
  color: #ffffff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
nav.menu > ul li:hover > ul { display: block; }
nav.menu > ul ul {
  background-color: #dddddd;
  border: solid 1px #b4b4b4;
  display: none;
  left: 0;
  top: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 300;
  width: 185px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
nav.menu > ul ul li {
  float: none;
  margin: 0;
  padding: 0;
}
nav.menu > ul ul a {
  font-weight: normal;
  text-shadow: 0 1px 0 #ffffff;
}
nav.menu > ul ul ul {
  left: 181px;
  top: -3px;
}
nav.menu > ul ul li:first-child > a {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}
nav.menu > ul ul li:last-child > a {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}
nav.menu > ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
nav.menu > ul { display: inline-block; }
html[xmlns] nav.menu > ul { display: block; }
* html nav.menu > ul { height: 1%; }
*:focus {
  outline: 0;
  outline: none;
}
section#sidebar nav {
  margin: 0 0 10px 0;
  border: 1px solid #336699;
  background-color: #ddeeff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
section#sidebar nav h2 {
  margin: 0;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font: normal normal bold 1.2em sans-serif;
  color: #ddeeff;
  background-color: #336699;
  text-transform: uppercase;
}
section#sidebar nav ul { padding: 0; }
section#sidebar nav ul li h2 {
  margin: 0;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font: normal normal bold 1.2em sans-serif;
  color: #ddeeff;
  background-color: #336699;
}
section#sidebar nav ul li a {
  font-size: 12px;
  line-height: 20px;
  display: block;
  color: #336699;
  padding: 5px 5px;
  margin: 0;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
section#sidebar nav ul li a:hover {
  background-color: #336699;
  color: #ddeeff;
}
section#sidebar table {
  border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-collapse: separate;
  border: 1px solid #60001b;
  margin: 0 0 10px 0;
  width: 100%;
}
section#sidebar table caption {
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  text-transform: uppercase;
  background-color: #60001b;
  color: #ffecdf;
  margin: 0;
  padding: 5px 1px;
  line-height: 18px;
  width: 100%;
}
section#sidebar table tbody > tr > td {
  padding: 5px;
  border-top: 1px solid #60001b;
  color: #60001b;
  font-size: 10px;
  line-height: 20px;
}
section#sidebar table tbody > tr > th {
  font-size: 10px;
  background-color: #ffecdf;
  color: #60001b;
  padding: 5px;
  text-align: right;
  border-top: 1px solid #60001b;
  border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
}
section#sidebar table tbody > tr td.stage {
  border: 0;
  border-top: 1px solid #60001b;
  border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
}
section#sidebar div.tip {
  font: normal 12px/20px Helvetica;
  border: 1px solid #00aa00;
  background-color: #eeffee;
  color: #00aa00;
  margin: 0 0 10px 0;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}
section#sidebar div.tip h2 {
  background-color: #00aa00;
  color: #eeffee;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 5px 1px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}
section#sidebar div.tip p { padding: 5px; }
section, nav { display: block; }
body { background-color: #eeeeee; }
body #wrapper {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
body #wrapper #header { margin: 10px; }
body #wrapper #header nav.menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
body #wrapper #header section.mini-panel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
body #wrapper #header nav.menu { width: 80%; }
body #wrapper #header section.mini-panel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 1%;
  width: 18%;
  padding: 5px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
body #wrapper #sidebar {
  float: left;
  width: 230px;
  margin: 0 10px 40px;
}
body #wrapper #content {
  margin: 0 10px 40px 250px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body #wrapper #footer {
  bottom: 0;
  position: absolute;
  margin-top: 15px;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font: 10px Helvetica;
  background: rgba(42, 42, 43, 0.7);
  color: #a4a4a4;
  width: 100% !important;
}
body #wrapper #footer p {
  text-align: right;
  margin: 0 30px;
}
body #wrapper #footer p a.xifox {
  color: #00aa00;
  text-decoration: none;
}
body #wrapper #footer p a.xifox:hover { color: #ffffff; }
body #wrapper #board { margin: 10px; }
body #wrapper #board ul.menu {
  height: 30px;
  width: 100%;
}
body #wrapper #board ul.menu li {
  margin: 5px 10px;
  float: left;
}
body #wrapper #board ul.menu li a {
  color: #555555;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body #wrapper #board ul.menu li.filters {
  padding-right: 20px;
  background: transparent url('/images/down_up_16x10.png') no-repeat 45px 2px;
}
body #wrapper #board ul.menu li.uparrow { background: transparent url('/images/down_up_16x10.png') no-repeat 45px -28px; }
#sf_admin_content table tr td { height: 20px; }
#sf_admin_content table tr td img.mugshot {
  margin: 0;
  padding: 0;
  border: 1px solid #aaaaaa;
  display: block;
}
.state_1, .state_2, .state_3, .state_4, .state_5, .state_6, .state_7, .state_8 {
  display: block;
  color: #555555;
  background-color: #dddddd;
  padding: 1px 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.state_4 {
  font-weight: bold;
  border: 2px solid #009900;
  color: #ffffff;
  background-color: #00aa00;
}
.state_5 {
  font-weight: bold;
  color: #aa0000;
  background-color: #ffffaa;
  border: 1px solid #aa0000;
}
.state_7 {
  color: #ffffff;
  border: 1px solid #44aa44;
  background-color: #22aa22;
}
.state_8 {
  color: #60001b;
  background-color: #ffddaa;
  font-weight: bold;
  border: 1px solid #60001b;
}
.right { text-align: right; }
table.items_control {
  border-collapse: collapse;
  box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
table.items_control tbody tr { border-bottom: none; }
table.items_control tbody tr td {
  padding: 0 1px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: none;
  background-color: #e0e0e0;
}
table.items_control tbody tr td:hover { background-color: #e0e0e0; }
table.items_control tbody tr td input[type="radio"].opt-nc:checked { background-position: -60px -20px; }
table.items_control tbody tr td input[type="radio"].opt-error:checked { background-position: -40px -20px; }
table.items_control tbody tr td input[type="radio"]:hover { cursor: default; }
table.items_control tbody tr td.item_ok {
  background-color: #eeffee;
  color: #008800;
  text-align: center;
}
table.items_control tbody tr td.item_ok span {
  background: #eeffee url('../../images/form.png') no-repeat -20px -40px;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
table.items_control tbody tr td.item_error {
  background-color: #ffeeee;
  color: #880000;
  text-align: center;
}
table.items_control tbody tr td.item_error span {
  background: #ffeeee url('../../images/form.png') no-repeat -40px -40px;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
table.items_control tbody tr td.item_nc {
  background-color: #eeeeee;
  color: #444444;
  text-align: center;
}
table.items_control tbody tr td.item_nc span {
  background: #eeeeee url('../../images/form.png') no-repeat -60px -40px;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
table.items_control tbody tr td.item_sc {
  background-color: #eeeeee;
  color: #444444;
  text-align: center;
}
table.items_control tbody tr td.item_sc span {
  background: #eeeeee url('../../images/form.png') no-repeat -60px -40px;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
table.items_control tbody tr th {
  white-space: nowrap;
  background-color: #dddddd;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  font-size: 0.7em;
  width: 40px;
}
table.items_control tbody tr th:hover { background-color: #dddddd; }
