*:focus {
  outline: 0;
  outline: none;
}
div#items-container {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
div#items-container table tbody tr td { border-bottom: 1px solid #aaaaaa; }
div#items-container table tbody tr td .blk-revision {
  min-height: 100px;
  position: relative;
  padding: 10px 5px;
}
div#items-container table tbody tr td .blk-revision h2 {
  margin: 0 10px 10px 0;
  padding: 0 10px;
  display: block;
  height: 30px;
  line-height: 30px;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  float: left;
}
div#items-container table tbody tr td .blk-revision h2.unlocked {
  background-color: #ffddaa;
  color: #60001b;
}
div#items-container table tbody tr td .blk-revision h3 {
  margin: 0;
  padding: 0;
  width: 50%;
}
div#items-container table tbody tr td .blk-revision p.info {
  width: 50%;
  margin: 0;
  font-size: 12px;
}
div#items-container table tbody tr td .blk-revision p.info .date { font-weight: bold; }
div#items-container table tbody tr td .blk-revision .sidebar-right {
  width: 160px;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 14px;
}
div#items-container table tbody tr td .blk-revision .sidebar-right > div { margin: 0 0 5px; }
div#items-container table tbody tr td .blk-revision .sidebar-right .actions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #336699;
  background-color: #ddeeff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
div#items-container table tbody tr td .blk-revision .sidebar-right .actions ul li {
  margin: 0;
  padding: 0;
}
div#items-container table tbody tr td .blk-revision .sidebar-right .actions ul li a {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #336699;
  display: block;
  font-size: 12px;
  margin: 0;
  padding: 5px;
  text-decoration: none;
}
div#items-container table tbody tr td .blk-revision .sidebar-right .actions ul li a:hover {
  background-color: #336699;
  color: #ddeeff;
}
div#items-container table tbody tr td .blk-revision .description {
  background-color: #ffffff;
  margin: 5px 300px 0px 5px;
  min-height: 50px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
div#items-container table tbody tr td .blk-revision .description p {
  margin: 2px;
  padding: 2px;
  font-size: 1em;
  color: #002255;
}
.col-right { width: 25%; }
.board {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: #dddddd;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-left: 2%;
}
.board h1 {
  color: #444444;
  margin: 0;
  padding: 1px 10px;
  font-size: 16px;
  font-family: sans-serif;
  text-shadow: 0 1px 0 #ffffff;
}
.board p { font: normal normal normal 14px/18px Helvetica; }
.board .options {
  padding: 0 0 10px 0;
  background-color: #eeeeee;
  margin: 20px 0;
}
.board .suggestions {
  padding: 0 0 10px 0;
  background-color: #eeeeee;
  margin: 20px 0;
}
.board .suggestions {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 5px;
}
.board ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.board ul li {
  height: 20px;
  font: normal normal normal 14px/20px sans-serif;
}
.board ul li a {
  display: block;
  background-color: #0088dd;
  color: #ffffff;
  padding: 0 10px;
}
.board ul li a:hover { background-color: #00aaff; }
table.items_control {
  width: 130px;
  border-collapse: collapse;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin: 0px;
  position: absolute;
  top: 10px;
  left: 440px;
}
table.items_control tbody tr td {
  font-size: 1em;
  padding: 0 1px;
  text-align: center;
  border: 1px solid #cccccc;
  font-weight: normal;
  background-color: #eeeeee;
  width: 22px;
  height: auto;
}
table.items_control tbody tr td:hover { background-color: #eeeeee; }
table.items_control tbody tr td.ok {
  color: #008800;
  background-color: #eeffee;
}
table.items_control tbody tr td.error {
  color: #880000;
  background-color: #ffeeee;
}
table.items_control tbody tr td.nc {
  color: #444444;
  background-color: #eeeeee;
}
table.items_control tbody tr th {
  font-size: 0.9em;
  font-weight: normal;
  background-color: #dddddd;
  border: 1px solid #cccccc;
  width: auto;
}
table.items_control tbody tr th:hover { background-color: #dddddd; }
