*:focus {
  outline: 0;
  outline: none;
}
body {
  background-color: #eeeeee;
  font-size: 14px;
}
body #wrapper { padding: 5px; }
body #header nav.menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
body #header section.mini-panel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
body #header nav.menu { width: 80%; }
body #header section.mini-panel {
  margin-left: 1%;
  width: 17%;
  padding: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#sf_admin_content table tr th { font-size: 12px; }
#sf_admin_content table tr th a { padding: 1px 5px; }
