/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.ellipsis:hover {
  overflow: visible;
  text-overflow: visible;
  -o-text-overflow: visible;
  -icab-text-overflow: visible;
  -khtml-text-overflow: visible;
  -moz-text-overflow: visible;
  -webkit-text-overflow: visible;
}
.simple-box {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box > h2 {
  background: #e1e1e1;
  padding: 10px 20px;
  color: #3a3a3a;
  margin-top: 0;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  font: 18px DINPro;
  font-weight: 100;
}
.simple-box-small {
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.simple-box-small > h2 {
  background: #e1e1e1;
  padding: 5px 10px;
  color: #3a3a3a;
  margin: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  font: 14px DINPro;
  font-weight: 100;
}
.box-black-bar {
  border: 1px solid #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12) 0px 0px 10px inset;
}
.box-black-bar h2 {
  color: #ffffff;
  background: url('/images/bg/bar-black-big.png') repeat-x;
  height: 47px;
  line-height: 61px;
  vertical-align: middle;
  padding: 7px 25px;
  margin: 0;
  font: 100 35px DINPro;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
.box-black-bar + .load-mask {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}
span.badge {
  background: #3a3a3a url('/images/bg/badge-highlight.png') no-repeat top center;
  font: 14px "Helvetica";
  color: #ffffff;
  height: 26px;
  text-align: center;
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-width: 26px;
}
.ipod-list li {
  display: inline-block;
  cursor: pointer;
  background: #ffffff;
  width: 8px;
  margin-right: 5px;
  height: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 2px solid #3a3a3a;
}
.ipod-list li.current { background-color: #333333; }
nav.menu > ul {
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#aaaaaa));
  line-height: 100%;
  margin: 0;
  padding: 7px 6px 0;
  border: 1px solid #cccccc;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 2px 2px 4px #bbbbbb;
  -moz-box-shadow: 2px 2px 4px #bbbbbb;
  -webkit-box-shadow: 2px 2px 4px #bbbbbb;
}
nav.menu > ul li {
  float: left;
  list-style: none;
  margin: 0 5px;
  padding: 0 0 8px;
  position: relative;
}
nav.menu > ul a {
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 8px 20px;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#b0b0b0), to(#c0c0c0));
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
nav.menu > ul .current a {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  color: #446688;
  border-top: solid 1px #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
}
nav.menu > ul li:hover > a {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  color: #446688;
  border-top: solid 1px #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
}
nav.menu > ul ul li:hover a {
  background: none;
  border: none;
  color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
nav.menu > ul li:hover li a {
  background: none;
  border: none;
  color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
nav.menu > ul ul a:hover {
  background-color: #0088bb !important;
  color: #ffffff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
nav.menu > ul li:hover > ul { display: block; }
nav.menu > ul ul {
  background-color: #dddddd;
  border: solid 1px #b4b4b4;
  display: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 300;
  top: 35px;
  width: 185px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
nav.menu > ul ul li {
  float: none;
  margin: 0;
  padding: 0;
}
nav.menu > ul ul a {
  font-weight: normal;
  text-shadow: 0 1px 0 #ffffff;
}
nav.menu > ul ul ul {
  left: 181px;
  top: -3px;
}
nav.menu > ul ul li:first-child > a {
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
}
nav.menu > ul ul li:last-child > a {
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
}
nav.menu > ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
nav.menu > ul { display: inline-block; }
html[xmlns] nav.menu > ul { display: block; }
* html nav.menu > ul { height: 1%; }
