@import "../_commons/common";
@import "../menu/default";

section, nav {
  display: block;
}

body {
  background-color: #eee;
  font-size: 18px;
  font: normal 62.5% sans-serif;

  /* Layout */
  #wrapper {
    padding: 5px;
  }

  p {
    font-size: 1.4em;
  }

  #header {
    nav.menu, section.mini-panel {
      .box-sizing;
      height: 50px;
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
    }
    /* Menu */
    nav.menu {
      width: 80%;

    }

    section.mini-panel {
      margin-left: 1%;
      width: 17%;
      padding: 5px;
      .border-radius(6px);
      background-color: #fff;
      .box-shadow(0, 2px, 5px, rgba(0, 0, 0, 0.1));
    }
  }

  #board {

  }


}
 

/* Tablas */
#sf_admin_content table tr td{
  height: 20px;
}

/* Distintos estados de un visado en una revision */
.state_1, .state_2, .state_3, .state_4, .state_5, .state_6, .state_7, .state_8 {
  display: block;
  color: #555;
  background-color: #ddd;
  padding: 1px 5px;
  border: 1px solid #ccc;
  .border-radius(4px);
}

/* Authorizado */
.state_4 {
  font-weight: bold;
  border: 2px solid #090;
  color: #FFF;
  background-color: #0A0;
}

/* a recisar */
.state_5 {
  font-weight: bold;
  color: #A00;
  background-color: #ffA;
}

/* corregido */
.state_7 {
  color: #FFF;
  border: 1px solid #4A4;
  background-color: #2A2;
}


/* en proceso */
.state_8 {
  color: #A60;
  background-color: #fda;
}




table.items_control {
  border-collapse: collapse;
  .box-shadow(0, 0, 0, 0);


  tbody {
    tr {
      td {
        padding: 0 1px;
        text-align: center;
        border: 1px solid #ccc;
        width: 20px;
        height: 20px;
        background-color: #e0e0e0;
        :hover {
          background-color: #e0e0e0;
        }

        input[type="radio"].opt-nc {
          :checked    { background-position: -60px -20px; }
        }
        input[type="radio"].opt-error {
          :checked    { background-position: -40px -20px; }
        }

        input[type="radio"] {
          :hover {
            cursor: default;
          }
        }
      }

      td.item_ok     { color: #080; background-color: #efe}
      td.item_error  { color: #800; background-color: #fee}
      td.item_nc     { color: #444; background-color: #eee}

      th {
        background-color: #ddd;
        border: 1px solid #ccc;
        font-weight: normal;
        :hover {
          background-color: #ddd;
        }
      }
    }
  }
}