@import "../_commons/common";


div#items-container {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  .box-sizing;
  table {
    tbody {
      tr {

       td {
       border-bottom: 1px solid #aaa;
       
         .blk-revision {
          min-height: 100px;
          position: relative;
          padding: 10px 5px;
            h2 {
              margin: 0 10px 10px 0;
              padding: 0 10px ;
              display: block;
              height: 30px;
              line-height: 30px;
              background-color: #333;
              color: #fff;
              text-align: center;
              .border-radius(6px);
              float: left;
              
            }
            h2.unlocked{
              background-color:#FFDDAA;
              color:#60001B;
            }
            h3 {
              margin: 0;
              padding: 0;
              width:50%;
             /* display: inline-block;
              /*height: 30px;
              line-height: 30px;*/
            }

            p.info {
              width:50%;
             /* display: inline-block;*/
              margin: 0;
              font-size: 12px;

              .date {
                font-weight: bold;
              }
            }

            .sidebar-right {
              width: 160px;
              position: absolute;
              right: 0;
              top: 10px;
              font-size: 14px;

              > div {
                margin: 0 0 5px;
              }

              .actions {
                ul {
                list-style: none;
                  margin: 0;
                  padding: 0;
                  border:1px solid #336699;
                  background-color:#DDEEFF;
                  .border-radius(6px, 6px, 6px, 6px);
                  li {
                    margin: 0;
                    padding: 0;
  
                    a {
                      .border-radius(4px, 4px, 4px, 4px);
                      color:#336699;
                      display:block;
                      font-size:12px;
                     /* line-height:20px;*/
                      margin:0;
                      padding:5px;
                      text-decoration:none;
                      :hover {
                        background-color:#336699;
                        color:#DDEEFF;
                      }
                    }
                  }
                }
              }
            }

            .description {
              background-color: #fff;
              margin: 5px 300px 0px 5px;
              min-height: 50px;
              border: 1px solid #ddd;
              .border-radius;
              p {
                margin: 2px; padding: 2px;
                font-size: 1em;
                color: #025;
              }
            }
          }
        }
      }
    }
  }
}

.col-right {
  width: 25%;
}

.board {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: #ddd;
  padding: 10px;
  .box-sizing;
  .box-shadow(0, 4px, 6px, rgba(0, 0, 0, 0.6));
  .border-radius;
  margin-left: 2%;

    h1 {
      color: #444;
      margin: 0;
      padding: 1px 10px;
      font-size: 16px;
      font-family: sans-serif;
      .text-shadow(0, 1px, 0, #fff);
    }

    p {
      font: normal normal normal 14px/18px Helvetica;
    }

    .options, .suggestions {
      padding: 0 0 10px 0;
      background-color: #eee;
      margin: 20px 0;
    }

    .suggestions {
      .border-radius;
      padding: 5px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        height: 20px;
        font: normal normal normal 14px/20px sans-serif;

        a {
          display: block;
          background-color: #08D;
          color: #fff;
          padding: 0 10px;
          :hover {
            background-color: #0AF;
          }
        }
      }
    }
}

table.items_control {
  width: 130px;
  border-collapse: collapse;
  .border-radius(0);
  margin: 0px;
  position: absolute;
  top: 10px;
  right: 170px;
  tbody {
    tr {
      td {
        font-size: 1em;
        padding: 0 1px;
        text-align: center;
        border: 1px solid #ccc;
        font-weight: normal;
        background-color: #eee;
        width:22px;
        height:auto;
        :hover {
          background-color: #eee;
        }

      }

      td.ok     { color: #080; background-color: #efe;}
      td.error  { color: #800; background-color: #fee;}
      td.nc     { color: #444; background-color: #eee;}

      th {
        font-size: 0.9em;
        font-weight:normal;
        background-color: #ddd;
        border: 1px solid #ccc;
        width: auto;
        :hover {
          background-color: #ddd;
        }
      }
    }
  }
}